@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1 {
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
  }

  h2 {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
  }

  h2 span {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
  }


  h4 {
    font-family: 'Inter';
    font-weight: 700;

  }

  h4 span {
    font-size: 12px;
  }

  h5 {
    color: white;

  }
  body {
    margin:0px !important;
  }

      span {
          font-family: 'Inter', sans-serif;
          font-size:14px;
      }

      p {
          font-family: 'Inter', sans-serif;
      }

  :root {
    --gray: #ACACAC;
    --main: #23827E;
  }


}